apiVersion: v1
kind: Service
metadata:
  name: weather-ml-app-service
  labels:
    app: weather-ml-app
spec:
  type: NodePort
  selector:
    app: weather-ml-app
  ports:
    - port: 5001        
      targetPort: 5001  
      nodePort: 30080   

